@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Roboto&family=Ysabeau:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  padding: 20px 1px;
}

.ubicadosen {
  font-family: "Castoro Titling", cursive;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 800px;
  top: 1030px;
  width: 48%;
}

ul {
  list-style-type: none;
}

.redes {
  text-align: center;
  margin: 20px;
  padding: 5px;
  font-family: "Castoro Titling", cursive;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuestrasredes {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1px;
  font-family: "Castoro Titling", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes a {
  text-decoration: none;
  margin: 0 5px;
}

.contenedormapayubicacion {
  display: flex;
  justify-content: space-between;
  border: 3px solid rgb(110, 106, 106);
  padding: 10px;
  border-radius: 6px;
}

.mapa {
  width: 100%;
}

.ubicacion {
  font-family: "Castoro Titling", cursive;
  width: 50%;
  align-self: center;
  font-size: 18px;
}

.ubicacionubicacion {
  padding: 40px 10px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.col a {
  color: rgb(70, 122, 199);
}

nav .links a {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 15px;
  transition: background-color 0.4s ease;
}
nav .links a:hover {
  background-color: #696969;
}
nav ul li {
  margin: 20px;
}

body {
  text-align: justify;
  margin: 0px;
}
body h1 {
  color: rgba(66, 66, 66, 0.9333333333);
  font-size: 50px;
  font-weight: bold;
  font-family: "Castoro Titling", cursive;
  font-weight: 10;
  text-align: center;
  padding-top: 40px;
}
body .contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
}
body .contenedor .textoderecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  width: 90%;
}
body .contenedor .logogrande {
  width: 30%;
  border-radius: 5px;
}
body .contenedor h2 {
  font-size: 40px;
  color: rgba(66, 66, 66, 0.9333333333);
  font-family: "Castoro Titling", cursive;
  font-weight: 15;
  text-align: center;
  padding: 30px;
}

@media (max-width: 1024px) {
  .contenedor {
    flex-direction: column;
    justify-content: center;
  }
  .textoderecha {
    max-width: 90%;
  }
  .contenedormapayubicacion {
    flex-direction: column;
    justify-content: center;
  }
  .ubicacion ul {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
  }
  .container {
    max-width: 1024px;
  }
  .card {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  .card-body {
    text-align: left;
    padding: 10px;
  }
  .card-text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .ubicacion {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    text-align: left;
  }
  .ubicacion ul {
    padding: 0;
    margin: 0;
  }
  .ubicacion li {
    width: 100%;
    margin-bottom: 5px;
    padding-left: 0;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .listaareayfoto {
    flex-direction: column;
  }
  .contenedormapayubicacion {
    flex-direction: column;
  }
  .ubicacion {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    text-align: left;
  }
  .ubicacion ul {
    padding: 0;
    margin: 0;
  }
  .ubicacion li {
    width: 100%;
    margin-bottom: 5px;
    padding-left: 0;
  }
  .content-container {
    flex-direction: column;
  }
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.container .card {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  background-color: #e0dbdb;
}
.container .card-img-top {
  height: 450px;
  object-fit: cover;
}
.container .card-body {
  text-align: left;
  padding: 10px;
}
.container .card-text {
  font-size: 20px;
}

.listaareayfoto {
  display: flex;
  align-items: center;
  padding: 15px;
}
.listaareayfoto .listaareas {
  display: flex;
  justify-content: center;
  font-size: 30px;
  flex-basis: 50%;
  max-width: 50%;
}
.listaareayfoto .listaareas ul li {
  font-family: "Castoro Titling", cursive;
  color: rgba(66, 66, 66, 0.9333333333);
}
.listaareayfoto .fotoareas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  max-width: 100%;
}
.listaareayfoto .fotoareas img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.textocontacto {
  color: rgba(66, 66, 66, 0.9333333333);
  font-size: 40px;
  font-weight: bold;
  font-family: "Castoro Titling", cursive;
  font-weight: 10;
  padding: 30px;
  text-align: center;
}

.textocontacto2 {
  color: rgba(66, 66, 66, 0.9333333333);
  font-size: 25px;
  font-weight: bold;
  font-family: "Castoro Titling", cursive;
  font-weight: 10;
  padding: 10px;
  text-align: center;
}

form {
  width: 70%;
  margin: 20px auto;
  background-color: rgba(238, 238, 238, 0.9333333333);
  padding: 20px;
}
form .form-control {
  background-color: rgba(238, 238, 238, 0.9333333333);
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.buttons-container {
  display: inline-block;
  position: relative;
  top: 0;
  margin-right: 10px;
}

button[type=submit],
button[type=reset] {
  background-color: #4CAF50;
  color: rgba(238, 238, 238, 0.9333333333);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type=submit]:hover,
button[type=reset]:hover {
  background-color: #3e8e41;
}

.mainhistoria {
  display: flex;
  justify-content: flex-end;
}
.mainhistoria .content-container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  padding-top: 40px;
  margin: 0 auto;
}
.mainhistoria .text-container {
  width: 80%;
}
.mainhistoria .image-container {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainhistoria .image-container img {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}
.mainhistoria .containerhistoria {
  background-color: #749bca;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.mainhistoria .historia {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}
.mainhistoria .titulohistoria {
  color: rgba(66, 66, 66, 0.9333333333);
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-family: "Castoro Titling", cursive;
}

body {
  background-color: #b3b3b3;
}

/*# sourceMappingURL=style.css.map */
