.listaareayfoto {
  display: flex;
  align-items: center;
  padding: 15px;

  .listaareas {
    display: flex; 
    justify-content: center; 
    font-size: 30px;
    flex-basis: 50%;
    max-width: 50%;
    & ul li {
      font-family: 'Castoro Titling', cursive;
      color: #424242ee;
    }
  }

  .fotoareas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    max-width: 100%;

    img {
      max-width: 90%;
      height: auto;
      border-radius: 10px;
    }
  }
}







