
body{
  text-align: justify;
  margin: 0px;
  background-image: linear-gradient(#eeee, f2f2f2(172, 171, 162));
  h1{
    color: #424242ee;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Castoro Titling', cursive;
    font-weight: 10;
    text-align: center;
    padding-top: 40px;
  }
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    .textoderecha {
        flex: 1;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px; 
        max-width: 60%;
      }
    .logogrande {
        width: 30%; 
        border-radius: 5px;
      }

    h2 {
        font-size: 40px;
        color: #424242ee;
        font-family: 'Castoro Titling', cursive;
        font-weight: 15;
        text-align: center;
        padding: 30px;
      }
  } 

}








