.container {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 12px;
    .card {
        width: 100%;
        margin-bottom: 20px;
        background-color: #e0dbdb;
        transition: 0.4s;
        &:hover {
          transform: scale(1.1, 1.1);
          box-shadow: 2px 2px 2px 0px;
          border-radius: 2%;
        }
      }
    .card-img-top {
        height: 450px;
        object-fit: cover;
      }
      
      .card-body {
        text-align: left;
        padding: 10px;
      }
      
      .card-text {
        font-size: 20px;
      }
  }


  

  

  