.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    .card {
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
        background-color: #e0dbdb;
      }
    .card-img-top {
        height: 450px;
        object-fit: cover;
      }
      
      .card-body {
        text-align: left;
        padding: 10px;
      }
      
      .card-text {
        font-size: 20px;
      }
  }


  

  

  