nav {
    .links a {
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 15px;
        transition: background-color 0.4s ease;
      }
      
      .links a:hover {
        background-color: #696969;
      }
    
      ul li {
        margin: 20px;
      }
}