nav {
    .links a {
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
      }
      
      .links a:hover {
        background-color: #eee;
      }
    
      ul li {
        margin: 20px;
        font-family: 'Castoro Titling', cursive;
        font-size: 18px;  
      }  
}