@mixin flex ($direction, $center, $align, $font, $size, $padding){
    display: flex;
    flex-direction: $direction;
    justify-content: $center;
    align-items: $align;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
}
